<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/films">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let list of classroom.lineas">
  <ion-img src="{{list.URL_Imagen}}"></ion-img>
  <ion-list>
    <ion-item>
      <ion-label>{{list.Producto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Envase}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Caloria}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Ingredientes_Peligrosos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Azucar}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Carbohidratos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Proteina}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Sodio}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Grasa_saturada}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Grasas}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Grasa_trans}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Tipo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.Codigo_Barras}}</ion-label>
    </ion-item>
  </ion-list>
    <ion-button color="dark" (click)="getRecomendation(list.Tipo)">Recomendadas </ion-button>
  </div>
  <div *ngFor="let list of recomendation.lineas">
    <ion-img src="{{list.URL_Imagen}}"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>{{list.Producto}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{list.Tipo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{list.Codigo_Barras}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
