<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let list of classroom.lineas">
    <ion-img src="{{list.URL_Imagen}}"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>{{list.Producto}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{list.Tipo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{list.Codigo_Barras}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
