<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let list of classroom; let i = index">
    <img style="height: 30%; width: 30%; display: block; margin: 0 auto;" src="{{ list.imagen }}" align="center">
    <ion-card-content>
      <ion-list>
        <ion-item>
        <ion-label>Codigo de Barras: {{list.codBarras}}</ion-label>
      </ion-item>
        <ion-item>
          <ion-label>Descripcion: {{list.descripcion}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Precio: {{ list.precio }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Stock: {{list.stock}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>PRECIO: {{list.precio }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>PRECIO: {{ getSum() }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button center color="success" (click)="comprar()">REALIZAR PAGO </ion-button>
</ion-content>
